@{
    ViewData["Title"] = "Home";
}
@* Add Css *@
@section Scripts{
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="partners">
    <p id="part">Our partners...</p>
    <div class="partners-bar">
        <div id="agriexport">
            <p >Partner 1</p>
        </div>
        <div id="gb">
            <p>Partner 2</p>
        </div>
        <div id="laleonessa">
            <p>Partner 3</p>
        </div>
        <div id="omnigear">
            <p >Partner 4</p>
        </div>
    </div>
</div>