@{
    ViewData["Title"] = "Home";
}
@* Add Css *@
@section Scripts{
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="partners">
    <p id="part">Our partners...</p>
    <div class="partners-bar">
        <div id="agriexport-btn">
            <img class="partners-img active" src="~/images/Agriexport.png" alt="Agriexport Logo" width="28%" />
        </div>
        <div id="gb-btn">
            <img class="partners-img" src="~/images/gb_logo.png" alt="GearBox Logo" width="28%" />
        </div>
        <div id="laleonessa-btn">
            <img class="partners-img" src="~/images/leonessa_logo.png" alt="La Leonessa Logo" width="35%" />
        </div>
        <div id="omnigear-btn">
            <img class="partners-img" src="~/images/OmniGearLogo.png" alt="OmniGear Logo" width="35%" />
        </div>
    </div>
</div>

<div>
    <div class="agriexport" id="agriexport">
        <div class="content">
            <h1>AgriExport</h1>
            <p>Specialise in components for agricultural machinery</p>
        </div>
    </div>
    <div>
        
    </div>
</div>