@{
    ViewData["Title"] = "Home";
}
@* Add Css *@
@section Scripts{
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="partners">
    <p>Our partners...</p>
    <div class="partners-bar">
        <p>Partner 1</p>
        <p>Partner 2</p>
        <p>Partner 3</p>
        <p>Partner 4</p>
    </div>
</div>