@{
    ViewData["Title"] = "Home";
}
@* Add Css *@
@section Scripts{
    <link rel="stylesheet" href="~/css/home.css" />
}
<div class="partners">
    <p id="part">Our partners...</p>
    <div class="partners-bar">
        <div id="agriexport-btn">
            <p >Partner 1</p>
        </div>
        <div id="gb-btn">
            <p>Partner 2</p>
        </div>
        <div id="laleonessa-btn">
            <p>Partner 3</p>
        </div>
        <div id="omnigear-btn">
            <p >Partner 4</p>
        </div>
    </div>
</div>

<div class="agriexport" id="agriexport" style="display: none;">
    <div class="content">
        <h1>AgriExport</h1>
        <p>Specialise in components for agricultural machinery</p>
    </div>
</div>