/* Partners text */
#part{
    padding-left: 16px;
}

/* Partners bar */
div.partners-bar{
    display: grid;
    grid-template-rows: max-content max-content max-content max-content;
    grid-auto-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: auto;
    grid-template-areas: "head head head head" "agriexport gb laleonessa omnigear";
}

/* AgriExport */
#agriexport-btn{
    text-align: center;
    grid-area: agriexport;
    background-color: transparent;
    cursor: pointer;
}

/* GB */
#gb-btn{
    text-align: center;
    grid-area: gb;
    background-color: #b0b0b0;
    cursor: pointer;
}

/* La Leonessa */
#laleonessa-btn{
    text-align: center;
    grid-area: laleonessa;
    background-color: #b9b9b9;
    cursor: pointer;
}

/* OmniGear */
#omnigear-btn{
    text-align: center;
    grid-area: omnigear;
    background-color: #b0b0b0;
    cursor: pointer;
}

/* AgriExport Banner */
.agriexport{
    background-image: url("../images/Traktor.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* Content */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f8f8;
    padding: 200px 0px 200px 0px;
}

/* Content H1 */
.content h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1px;
}