<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UralLimited</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-menu">
                <ul class="nav-items">
                    <li class="nav-item">
                        <a asp-action="About.cshtml">
                            About
                        </a>
                    </li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="brand">
                <img src="~/images/Ural_Limited_Logo.svg" id="logo"/>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-bar">
        <div class="">
            &copy; @DateTime.Now.Year - Ural Limited Company | All Rights Reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
